<%= form_for(@radiator) do |f| %>
  <% if @radiator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@radiator.errors.count, "error") %> prohibited this radiator from being saved:</h2>

      <ul>
      <% @radiator.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
