
<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
	  <label> Projects: </label>
<select>
    <% @radiators.each do |radiator| %>
	<option><%= radiator[1] %></option>

    <% end %>
</select>
  </tbody>
</table>

<br>

<%= link_to 'New Radiator', new_radiator_path %>
